*{
    margin: 0;
}
#block1{
    border: 2px solid black;
    padding: 10px;
    background-color: chartreuse;
    color: azure;
    margin-bottom: 20px;
}
#title{
    text-align: center;
    font-style: oblique;
}
.name-email{
    color: green;
}
#full-name{
    background-color: blanchedalmond; 
}
#e-mail{
    background-color: blanchedalmond;
}
#option{
    margin-left: 20px;
    margin-bottom: 20px;
}
#text-digit{
    margin-left: 20px;
    margin-top: 10px;
    resize: none;
}
#pers-date{
    margin-left: 20px;
    margin-bottom: 10px;
}
.pers-check{
    margin-left: 20px;
    margin-bottom: 5px;
}
.buttons{
    margin-left: 20px;
    background-color: chartreuse;
}
.buttons:active{
    color: aliceblue;
}
#pers-text{
    margin-left: 20px;
}